<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update course</title>
</head>
<body>
<form
        action="#"
        th:action="@{/tasks/{id}/{lessonId}/update(id=${task.id},lessonId=${lessonId})}"
        th:object="${task}"
        method="patch"
        style="text-align:center; margin-top:200px; font-size: 30px;">

    <input type="hidden" name = "id" th:field="*{id}">
    <input type="text"  name="courseName" th:field="*{name}" placeholder="task Name">
    <br><br>
    <input type="text"  name="durationInMonth" th:field="*{task}" placeholder=" text">
    <br><br>
    <input type="date"  name="durationInMonth" th:field="*{deadline}" placeholder="data">


    <input type="submit" value="Update">
</form>
</body>
</html>